aiofiles==23.2.1
appdirs==1.4.4
attrs==23.1.0
autobahn==19.11.2
Automat==22.10.0
beautifulsoup4==4.12.2
blinker==1.5
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
constantly==15.1.0
cryptography==41.0.3
dnspython==2.4.2
frozendict==2.3.8
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
hypercorn==0.14.4
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiteconnect==4.2.0
lxml==4.9.3
MarkupSafe==2.1.3
motor==3.3.1
multitasking==0.0.11
numpy==1.24.4
pandas==2.0.3
priority==2.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pymongo==4.5.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
pytz==2023.3.post1
quart==0.18.0
quart-cors==0.6.0
requests==2.31.0
service-identity==23.1.0
six==1.16.0
soupsieve==2.5
Twisted==23.8.0
txaio==23.1.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
webencodings==0.5.1
Werkzeug==2.3.7
wsproto==1.2.0
yfinance==0.2.28
zope.interface==6.0

keras~=2.15.0

psutil~=5.9.7
tensorflow~=2.15.0

gspread~=6.0.2
oauth2client~=4.1.3
